<!-- agree.ejs -->

<%- css%>

<div class="agree_wrap">
    <li class="tit">
        개인정보수집 및 이용동의 / 개인정보 제3자 제공 동의
    </li>
    <li class="tit2">
        1. 개인정보 수집 및 이용의 목적
    </li>
    <li class="desc">
        회사는 회사가 제공하는 상품 안내(문자발송 포함), 상품 신청, 관계법령에 따른 신고, 상담 등의 서비스 제공 및 신규 서비스의 개발 등의 목적으로 최소한으로 개인정보를 수집하고 있습니다.
    </li>
    <li class="tit2">
        2. 수집하는 개인정보의 범위 및 수집방법

    </li>
    <li class="desc">
        가. 수집하는 개인정보의 범위
회사에서는 귀하에게 서비스 제공을 위해서 아래와 같은 개인정보를 수집하고 있습니다.<br>
- 필수항목 : 성명, 연락처, 주소 등
<br><br>
나. 수집방법<br>
회사는 귀하가 서비스를 이용하실 때 필수적인 정보를 온라인상에서 입력받고 있습니다. 또한 서비스 내에서의 설문조사나 이벤트 행사 시 통계분석이나 경품 제공 등을 위해 선별적으로 개인정보 입력을 요청할 수 있습니다. 그러나 이용자의 민감한 개인정보(인종, 민족, 사상 및 신조, 출신지, 범죄기록, 성생활 등)는 수집하지 않으며 부득이하게 수집해야 할 경우 이용자들의 사전동의를 반드시 구할 것입니다.
    </li>
    <li class="tit2">
        3. 개인정보의 보유 및 이용 기간

    </li>
    <li class="desc">
        회사는 이용자의 개인정보를 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 다만 서비스가 진행되는 동안 이용할 수 있고 개인정보를 수집 동의일로부터 5년 간 보유 활용할 수 있습니다.

    </li>
    <li class="tit2">
        4. 동의를 거부할 권리가 있다는 사실과 동의 거부에 따른 불이익 내용 고지

    </li>
    <li class="desc">
        이용자는 회사에서 필수로 수집하는 개인정보에 대해 동의를 거부할 권리가 있으며, 필수항목에 대한 동의 거부 시에는 일부 서비스 이용이 제한됩니다

    </li>
    <li class="tit">
        개인정보 제3자 제공 동의

    </li>
    <li class="tit2">
        1. 개인정보를 제공받는 자

    </li>
    <li class="desc">
        - 부천시청

    </li>
    <li class="tit2">
        2. 개인정보를 제공받는 자의 개인정보 이용 목적

    </li>
    <li class="desc">
        - 관계법령에 따른 정화조 청소 내역 신고 및 관리

    </li>
    <li class="tit2">
        3. 제공하는 개인정보의 목록

    </li>
    <li class="desc">
        - 회사가 수집하는 정보 일체

    </li>
    <li class="tit2">
        4. 개인정보를 제공받는 자의 개인정보 보유 및 이용기간

    </li>
    <li class="desc">
        - 수집 및 동의일로부터 5년

    </li>
    <li class="tit2">
        5. 제3자 제공에 대한 거부의 권리

    </li>
    <li class="desc">
        이용자는 개인정보의 제3자 제공에 대하여 거부할 수 있으며 거부 시 서비스 이용에 제한을 받을 수 있습니다.

    </li>
    <div class="agree_close">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <img src="/img/main/close.png">
    </div>
    <div class="agree_close2">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <img src="/img/main/close_text.png">
    </div>
</div>
