<!-- Login_HTML -->
<%- include ("./header") %>

<div class="om_login">
  <form class="" action="/adm/login_prc" method="post">
    <li>
      <input type="text" name="id" value="" placeholder="ID">
    </li>
    <li>
      <input type="text" name="pw" value="" placeholder="PASSWORD">
    </li>
    <li>
      <input type="submit" value="LogIn">
    </li>
  </form>
</div>

<%- include ("./footer") %>
