<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta name="description" content="부천 정화조 청소 전문업체, 청소이력조회 및 청소신청, 무료소독서비스, 깨끗하게~맑게~확실하게 복사골환경(주)">
    <meta name="naver-site-verification" content="63bd85a05669e94c08801b25d25b4111a39dfea5" />
    <title>복사골환경(주)</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/<%= css%>">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--[if lte IE 8]>
    <script src="/js/html5.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


  </head>
  <body>

    <%- popup %>

    
    <div class="wrap_div">

    </div>

    <div class="main_tit">
      <a>부천시 지정 정화조 청소업체</a>
    </div>
    
    <% if(auth){ %>
    <div class="om_auth">
      <li>
        <a><%= userInfo.nickname %>님 반갑습니다</a>
      </li>
      <li>
        <a href="/adm">MENU</a>
      </li>
      <li>
        <a href="/adm/logout">LogOut</a>
      </li>
    </div>
    <% } %>
    

    <div class="main_wrap">
      <div class="main_bg">
        <img src="/img/main/main_bg_n2.png">
        <div class="main_bt_wrap main_bt_pc">
          <div class="main_bt_con">
            <li class="main_bt1"><img src="/img/main/bt1.png" class="main_bot_bt_img3"><img src="/img/main/bt1_o.png"  class="main_bot_bt_img3_o"></li>
            <li class="main_bt2"><img src="/img/main/bt2.png" alt=""></li>
            <li class="main_bt3"><img src="/img/main/bt3.png" alt=""></li>
            <li class="main_bt4"><img src="/img/main/bt4.png" alt=""></li>
          </div>
        </div>
        <div class="main_bottom_bt main_bt_pc">
          <li class="main_bottom_bt_li main_bottom_bt_li1 main_bt_list">
            <a><img src="/img/main/bt5.png" class="main_bot_bt_img1"><img src="/img/main/bt5_o.png"  class="main_bot_bt_img1_o"></a>
          </li>
          <li class="main_bottom_bt_li main_bottom_bt_li2 main_bt_conf">
            <a><img src="/img/main/bt6.png" class="main_bot_bt_img2"><img src="/img/main/bt6_o.png"  class="main_bot_bt_img2_o"></a>
          </li>
        </div>


       
      </div>

      <div class="main_bg_mo">
        <img src="/img/main/main_bg_mo2.png">
      </div>

      <div class="main_bt_mo">
        <a class="main_bt_list"><img src="/img/main/mo_bt_1.png" alt="청소이력조회"></a>
        <a class="main_bt_conf"><img src="/img/main/mo_bt_2.png" alt="신청확인하기"></a>
      </div>

      
    </div>





    <form class="main_contact" action="/contactprc" method="post" autocomplete="off">
    <div class="main_n_contact_wrap">
      <div class="main_n_contact_tit">
        <img src="/img/main/contact_top2.jpg">
      </div>
      <div class="main_n_contact_con">
        <!-- form_1 -->
        <div class="main_n_conin main_n_conin1">
          <li class="main_n_conin_li1">
            <img src="/img/main/contact_in1.png" alt="성명">
          </li>
          <li class="main_n_conin_li2">
            <input type="text" name="wr1" value="" placeholder="건물명 / 하수과 신고자명" class="main_n_conin_input main_n_input1">
          </li>
        </div>
        <!-- form_1 -->

        <!-- form_1 -->
        <div class="main_n_conin main_n_conin2">
          <li class="main_n_conin_li1">
            <img src="/img/main/contact_in2.png" alt="청소날짜">
          </li>
          <li class="main_n_conin_li3">
            <input type="text" name="wr2" value="" placeholder="0000-00-00" class="main_n_conin_input main_n_input1" id="calFormInput" readonly>
          </li>
          <li class="main_n_conin_li4">
            <input type="hidden" name="wr3" value="" id="main_n_timesel_input">
            <a class="main_n_conin_input main_n_input1 main_n_conin_li4_a" id="main_n_timesel">시간선택</a>
          </li>
          <div class="calForForm">
            <div class="om_calendar_input">
            </div>
            <div class="calBottom">
              <p>
                <input type="checkbox" id="calelse" value="빠른시일 아무때나" class="om_hid">
                <label for="calelse" id="calelse_label"></label>
                <a>빠른시일 아무때나</a>
              </p>
              <li>
                <a>닫기</a>
              </li>
            </div>
          </div>
          <script>
            var calelseDate = new Date();
            var calelseY = calelseDate.getFullYear();
            var calelseM = calelseDate.getMonth()+1;
            var calelseD = calelseDate.getDate();

            $('#calelse_label').click(function(){
              if(!$('#calelse').is(":checked")){
                $('#main_n_timesel_input').val('빠른시일 아무때나');
                $('#main_n_timesel').text('빠른시일');
                $('.main_n_conin_li4_a').css('font-size','0.9rem');
                $('.main_n_conin_li4_a').css('color','#000000');
                $('.main_n_conin_li4_a').css('padding-top','18px');
                $('#calFormInput').val(calelseY+'-'+calelseM+'-'+calelseD);
              }
              if($('#calelse').is(":checked")){
                $('#main_n_timesel_input').val('');
                $('#main_n_timesel').text('시간선택');
                $('.main_n_conin_li4_a').css('font-size','1.3rem');
                $('.main_n_conin_li4_a').css('color','#acacac');
                $('.main_n_conin_li4_a').css('padding-top','15px');
                $('#calFormInput').val('');
              }
            });
          </script>
          <div class="main_n_conin_timesel">
            <!-- <li>빠른시일 아무때나</li> -->
            <li>오전 중</li>
            <li>오후 중</li>
            <li>오전 6시~7시</li>
            <li>오전 7시~8시</li>
            <li>오전 8시~9시</li>
            <li>오전 9시~10시</li>
            <li>오전 10시~11시</li>
            <li>오전 11시~12시</li>
            <li>오후 1시~2시</li>
            <li>오후 2시~3시</li>
            
          </div>
        </div>
        <!-- form_1 -->

        <!-- form_1 -->
        <div class="main_n_conin main_n_conin3">
          <li class="main_n_conin_li1">
            <img src="/img/main/contact_in3.png" alt="주소">
          </li>
          <li class="main_n_conin_li2">
            <input type="text" name="wr4" value="" placeholder="지번주소입력" class="main_n_conin_input main_n_input1 main_n_juso_in" readonly>
            
          </li>
          <div class="main_n_juso">
            <div class="main_n_juso_top">
              <li>
                <input type="text" name="" value="" class="jusoschkeyview" onkeydown="omJusoEnter()">
                <img src="/img/main/juso_sch_bt.png" class="main_n_sch_bt" onclick="omJusoBt()">
              </li>
              <li>
                <img src="/img/main/juso_desc.png" class="main_n_juso_desc1">
              </li>
            </div>
            <div class="main_n_juso_bottom">
              <img src="/img/main/juso_desc2.png" class="main_n_juso_desc2">
              <div id="list" class="main_n_juso_list"></div><!-- 검색 결과 리스트 출력 영역 -->
              <div class="paginate" id="pageApi"></div>
              <div class="juso_bot_text"></div>
            </div>
          </div>
        </div>
        <!-- form_1 -->

        <!-- form_1 -->
        <div class="main_n_conin main_n_conin4">
          <li class="main_n_conin_li1">
            <img src="/img/main/contact_in4.png" alt="전화번호">
          </li>
          <li class="main_n_conin_li2">
            <input type="text" name="wr5" value="" placeholder="예)01012345678" class="main_n_conin_input main_n_input1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          </li>
        </div>
        <!-- form_1 -->

        <!-- form_1 -->
        <div class="main_n_conin main_n_conin5">
          <li class="main_n_conin_li1">
            <img src="/img/main/contact_in5.png" alt="요청사항">
          </li>
          <li class="main_n_conin_li2">
            <input type="text" name="wr6" value="" placeholder="요청사항을 선택해주세요." class="main_n_conin_input main_n_input1 contact_else22" id="main_yoch_sel" autocomplete="off">
          </li>
          <div class="main_n_conin_yoch">
            <li data-conelse="1">직접입력</li>
						<li>도착 전 연락바랍니다.</li>
						<li>영수증은 우편함에</li>
						<li>영수증을 문자로 보내주세요.</li>
          </div>
          <div class="main_n_conin_bil">
            <input type="checkbox" name="wr7" value="1" class="main_n_conin_bil_input main_n_conin_agree_inputwr7 om_hid" id="wr7chk">
            <label for="wr7chk"></label>
            <img src="/img/main/contact_in6.png" alt="전자계산서">
          </div>
        </div>
        <!-- form_1 -->

        <!-- form_1 -->
        <div class="main_n_conin main_n_conin6">
          <li class="main_n_conin_li1">
            
          </li>
          <li class="main_n_conin_li2">

            <input type="text" name="wr4_1" value="" placeholder="상세주소" class="main_n_conin_input main_n_input1 main_n_juso_wr4_1 main_sang_ju">
          </li>
        </div>
        <!-- form_1 -->
      </div>
      </div>
      <input type="hidden" name="wr23" value="" class="main_sinjuso_wr23">
      <div class="main_n_agree">
        <input type="checkbox" name="wr21" value="1" class="main_n_conin_agree_input main_n_conin_agree_inputwr21 om_hid" id="wr21chk">
        <label for="wr21chk"></label>
        <img src="/img/main/contact_in7.png" class="main_agree_img">
      </div>
      </form>
    </div>



    <div class="main_contact_wrap">
      <div class="contact_submit">
        <a><img src="/img/main_bt.png"></a>
      </div>
    </div>





    <div class="main_mo_info">
      <img src="/img/main/mo_info.png">
    </div>




    <div class="main_n_content_wrap">
      <div class="main_n_content">
        <img src="/img/main/main_content.png" class="main_n_content_wrap_pc">
        <img src="/img/main/main_content_mo2.png" class="main_n_content_wrap_mo">
      </div>
    </div>






    <div class="om_juso om_hid">
      <form name="form" id="form" method="post">
        <input type="text" name="currentPage" value="1" class="om_hid"> <!-- 요청 변수 설정 (현재 페이지. currentPage : n > 0) -->
        <input type="text" name="countPerPage" value="5" class="om_hid"><!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
        <input type="text" name="resultType" value="json" class="om_hid"> <!-- 요청 변수 설정 (검색결과형식 설정, json) -->
        <input type="text" name="confmKey" value="devU01TX0FVVEgyMDIwMTAwMTIyNDkzNjExMDI0OTM=" class="om_hid"><!-- 요청 변수 설정 (승인키) -->
        <input type="text" name="keyword" value="" class="om_juso_input om_search_key"><!-- 요청 변수 설정 (키워드) -->
        
        
        <div class="juso_close">
          <a>닫기</a>
        </div>
      </form>
    </div>

    
      <div class="agree_html">
        
      </div>
      
   
    
      <div class="search">
	

      </div>
      
      
      <div class="sms_conf"></div>

      <div class="alertpop"></div>


      <div class="main_qa">
        <div class="main_qa_icon main_qa_close">
          <img src="/img/main/close.png">
        </div>
        <div class="main_qa_img">
          <img src="/img/main/main_qa_img2.png">
        </div>
        <div class="main_qa_bt">
          <a class="main_qa_bt_a main_qa_bt1"><img src="/img/main/main_qa_bt1.png"></a>
          <a class="main_qa_bt_a main_qa_bt2"><img src="/img/main/main_qa_bt2.png"></a>
        </div>
        <div class="search_icon main_qa_icon">
          <img src="/img/icon_b.png">
        </div>
      </div>



      <div class="main_footer">
        <div class="main_footer_logo">
          <img src="/img/main/logo_f.png">
        </div>
        <div class="main_footer_info">
          <li>
            <a class="main_footer_a1">회사명</a>
            <a class="main_footer_a_ab">복사골환경(주)</a>
          </li>
          <li>
            <a class="main_footer_a1">대표자</a>
            <a class="main_footer_a_ab">김남득</a>
          </li>
          <li>
            <a class="main_footer_a2">주소</a>
            <a class="main_footer_a_ab">부천시 부일로 517번길 32 (심곡2동 137-1)</a>
          </li>
          <li>
            <a class="main_footer_a3">사업자등록번호</a>
            <a class="main_footer_a_ab2">130-81-59683 </a>
          </li>
          <li>
            <a class="main_footer_a3">사이트관리자 및 개인정보 책임자</a>
            <a class="main_footer_a_ab2">김혜경 </a>
          </li>
          <li>
            <a class="main_footer_a4">전화번호</a>
            <a class="main_footer_a_ab2">032-655-2112,2552</a>
          </li>
          
          <li>
            <a class="main_footer_a1">이메일</a>
            <a class="main_footer_a_ab">boksagol2020@naver.com</a>
          </li>
          <li>
            <a class="main_footer_a1">블로그</a>
            <a class="main_footer_a_ab">https://blog.naver.com/boksagol2020</a>
          </li>
        </div>
        <div class="top_scroll_bt" onclick="window.scrollTo(0,0);">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          <!-- <img src="/img/main/top_scroll_bt.png"> -->
        </div>
      </div>


      


    <script src="/js/juso_api.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>


    