
.main_bg {
    /* height: 796px; */
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* background-image: url('/img/main_bg_new.png');
    background-position: center center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
}
.main_bg > img {
    width: 1920px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main_bt_wrap {
    width: 100%;
    height: 100%;;
    position: relative;
}
.main_bt_con {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main_bt_con > li {
    width: 330px;
    padding: 5px 15px;
    box-sizing: border-box;
}
.main_bt_con > li > img {
    width: 300px;
    box-sizing: border-box;
}
.main_tit {
    text-align: center;
    background-color: #0075a9;
    padding: 5px 0;
}
.main_tit > a {
    color: white;
    font-size: 1.9rem;
    letter-spacing: 3px;
    font-weight: 500;
}
.main_bottom_bt {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 0;
}
.main_bottom_bt_li {
    display: inline-block;
    width: 50%;
    padding: 10px 30px;
    box-sizing: border-box;
}
.main_bottom_bt_li img {
    width: 300px;
}

.main_bot_bt_img1 {
}
.main_bot_bt_img1_o {
    position: absolute;
    top: 10px;
    left: 30px;
    display: none;
}
.main_bot_bt_img2_o {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
}
.main_bot_bt_img3_o {
    position: absolute;
    top: 5px;
    left: 15px;
    display: none;
}

/* .main_bottom_bt_li1:hover .main_bot_bt_img1_o {
    position: absolute;
    top: 10px;
    left: 30px;
    display: inline-block;
}
.main_bottom_bt_li1:hover .main_bot_bt_img1 {
    display: none;
} */

.main_bt_mo {
    width: 100%;
    display: none;
    text-align: center;
    margin-top: 3px;
}
.main_bt_mo > a {
    display: inline-block;
    padding: 0 10px;

}
.main_bt_mo > a > img {
    width: 250px;
}
.main_mo_info {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.main_mo_info img {
    width: 700px;
}

.main_bg_mo {
    display: none;
}

















.main_n_contact_wrap {
    position: relative;
    width: 1600px;
    margin: 20px auto 5px auto;
    font-size: 0;
}
.main_n_contact_tit {
    text-align: center;
    margin-bottom: 15px;
}
.main_n_contact_con {
    border: 1px solid #717171;
    border-radius: 10px;
    font-size: 0;
    box-sizing: border-box;
    padding: 10px 0;
}
.main_n_conin {
    position: relative;
    display: inline-block;
    width: 530px;
    box-sizing: border-box;
    font-size: 0;
    padding: 5px 0;
    text-align: center;
}
.main_n_conin_input {
    background-color: #cbcbcb;
    border: 0;
    border-radius: 30px;
    padding: 15px 10px;
    font-size: 1.3rem;
}

.main_n_conin_input::placeholder {
    color: #acacac;
    opacity: 1;
}
.main_n_conin_input::-ms-input-placeholder {
    color:#acacac;
}
.main_n_conin_input:-ms-input-placeholder {
    color:#acacac;
}
.main_n_conin > li {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 54px!important;
    overflow: hidden;
}
.main_n_conin_li1 {
    width: 155px;
}
.main_n_conin_li2 {
    width: 300px;
    padding-left: 10px;
}
.main_n_conin_li3 {
    width: 160px;
    padding-left: 10px;
}
.main_n_conin_li4 {
    width: 140px;
    padding-left: 10px;
}
.main_n_input1 {
    width: 100%;
    box-sizing: border-box;
}
.main_n_conin_li4_a {
    height: 54px!important;
    overflow: hidden;
    display: inline-block;
    color: #acacac;
}
.main_n_conin_timesel {
    position: absolute;
    bottom: 63px;
    right: 38px;
    background-color: white;
    text-align: left;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.main_n_conin_timesel li {
    padding: 5px 0;
    font-size: 1rem;
    cursor: pointer;
}
.main_n_conin_yoch {
    position: absolute;
    top: 63px;
    right: 38px;
    background-color: white;
    text-align: left;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    display: none;
}
.main_n_conin_yoch li {
    padding: 5px 0;
    font-size: 1rem;
    cursor: pointer;
}
.main_n_conin_bil {
    position: absolute;
    bottom: 0;
    right: -130px;
}
.main_n_conin_bil_input {
    margin-top: 0.4rem;
    vertical-align: top;
}
.main_n_agree {
    text-align: center;
}
.main_n_conin_agree_input {
    vertical-align: top;
    margin-top: 0.8rem;
}
.main_contact_wrap {
    text-align: center;
    margin-top: 0px;
}
.main_n_juso {
    position: absolute;
    display: none;
    right: 38px;
    bottom: 63px;
    width: 423px;
    border: 1px solid #eaeaea;
    background-color: white;
    padding: 10px;
    z-index: 999;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
}
.main_n_juso > div {
    background-color: white;
}
.jusoschkeyview, .main_n_sch_bt {
    vertical-align: middle;
}
.jusoschkeyview {
    padding: 10px;
}
.jusoschkeyview {
    width: 70%;
}
.main_n_juso_desc1 {
    width: 380px;
}
.main_n_juso_desc2 {
    width: 320px;
    padding: 30px 0;
}
.main_n_juso_top {
    padding: 10px;
}
.main_n_juso_bottom {
    position: relative;
    margin-top: 10px;
    padding: 5px;
}
.main_n_juso_list, .paginate {
    background-color: white;
}



.main_n_content_wrap {
    margin-top: 70px;
}
.main_n_content {
    text-align: center;
}

.alertpop {
    position: fixed;
    /* width: 100%; */
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: none;
}

.main_qa {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 9999;
    background-color: white;
    padding-bottom: 50px;
}
.main_qa_bt {
    text-align: center;
    margin-top: 30px;
}

.main_qa_icon {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.main_qa_icon img {
    width: 70px;
}
.main_qa_close {
    position: absolute;
    width: 30px!important;
    top: 10px;
    right: 10px;
    margin-top: auto!important;

}
.main_qa_close img {
    width: 30px!important;
}
.main_alert_pop_close {
    position: absolute;
    /* top: 10px;
    right: 10px; */
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}
.main_n_conin_agree_inputwr21 + label {
    vertical-align: top;
    display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
    cursor: pointer;
    margin-top: 7px;
}
.main_n_conin_agree_inputwr21:checked + label {
    background-image: url('/img/main/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: #0088ff; */
}

.main_n_conin_agree_inputwr7 + label {
    vertical-align: top;
    display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #bcbcbc;
    cursor: pointer;
    margin-top: 3px;
}
.main_n_conin_agree_inputwr7:checked + label {
    background-image: url('/img/main/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: #0088ff; */
}
/* .main_n_conin_agree_inputwr7:checked + label:before {
    content: '\2714'; 
    color: white; 
    background: #0088ff; 
} */








.checks input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #99a1a7; text-shadow: 1px 1px #fff; background: #e9ecee; border-color: #adb8c0; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); }



.juso_bot_text {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.juso_bot_text img {
    width: 250px;
}






.main_n_content_wrap_mo {
    display: none;
}







.main_footer {
    position: relative;
    width: 100%;
    background-color: #292929;
    padding: 30px 0;
    font-size: 0;
}

.main_footer > div {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

.main_footer_logo {
    text-align: right;
    padding: 0 20px;
}

.main_footer_info {
    padding: 0 20px;
}

.main_footer_info a {
    color: white;
}

.main_footer_info li {
    position: relative;
    padding: 3px;
}

.main_footer_a1 {
    letter-spacing: 0.45rem;
}

.main_footer_a2 {
    letter-spacing: 1.8rem;
}

.main_footer_a_ab {
    position: absolute;
    left: 75px;
}

.main_footer_a_ab2 {
    padding-left: 12px;
}

.main_footer_a1, .main_footer_a2 {
}

.sms_conf_icon_p_close {
    display: none;
}






.top_scroll_bt {
    position: absolute;
    width: auto!important;
    bottom: 10px;
    right: 10px;
    z-index: 999999;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 10px;
    background-color: white;
}
.top_scroll_bt i {
    font-size: 1.5rem;
}









@media screen and (min-width: 1921px) {
    .main_bg > img {
        width: 100%;
    }
}

@media screen and (max-width: 1600px) {
    .main_n_content_wrap_mo {
        display: inline-block;
    }
    .main_n_content_wrap_pc {
        display: none;
    }
    .main_n_contact_wrap {
        width: 1000px;
    }
    .main_n_conin {
        width: 490px;
    }
    .main_n_conin_li1 {
        width: 150px;
    }
    .main_n_conin_li2 {
        width: 300px;
    }
    .main_n_conin_li3 {
        width: 160px;
    }
    .main_n_conin_li4 {
        width: 140px;
    }
    .main_n_conin_li1 img {
        width: 150px;
    }
    .main_n_contact_con {
        position: relative;
        height: 240px;
    }

    .main_n_conin1 {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .main_n_conin3 {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .main_n_conin4 {
        position: absolute;
        top: 75px;
        left: 10px;
    }
    .main_n_conin6 {
        position: absolute;
        top: 75px;
        right: 10px;
    }
    .main_n_conin2 {
        position: absolute;
        top: 140px;
        left: 10px;
    }
    .main_n_conin5 {
        position: absolute;
        top: 140px;
        right: 10px;
    }
    .main_n_conin_bil {
        bottom: -30px;
        right: 140px;
    }
    .calForForm, .main_n_juso, .main_n_conin_yoch, .main_n_conin_timesel {
        z-index: 99;
        top: 63px;
        bottom: auto;
    }

    .main_n_content_wrap {
        margin-top: 40px;
    }

}

@media screen and (max-width: 1500px) {
    .main_bt_pc {
        display: none;
    }
    .main_bt_mo {
        display: inline-block;
    }
    .main_mo_info {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .main_bg {
        height: 440px;
    }
    .main_bg > img {
        width: 1200px;
    }
    .main_bt_mo > a > img {
        width: 200px;
    }
}


@media screen and (max-width: 1000px) {
    .main_bg_mo {
        display: inline-block;
    }
    .main_bg_mo img {
        width: 100%;
    }
    .main_bg {
        display: none;
    }
    .main_n_contact_wrap {
        width: 100%;
    }
    .main_n_content_wrap_mo {
        width: 100%;
    }
    .main_n_conin {
        width: 47%;
    }
    .main_n_conin_li1 {
        width: 30%;
        position: relative;
    }
    .main_n_conin_li2 {
        width: 70%;
    }
    .main_n_conin_li3 {
        width: 32%;
    }
    .main_n_conin_li4 {
        width: 38%;
    }
    .main_n_conin_li1 img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .main_n_contact_con {
        position: relative;
        height: 240px;
    }

    .main_n_conin1 {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .main_n_conin3 {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .main_n_conin4 {
        position: absolute;
        top: 75px;
        left: 10px;
    }
    .main_n_conin6 {
        position: absolute;
        top: 75px;
        right: 10px;
    }
    .main_n_conin2 {
        position: absolute;
        top: 140px;
        left: 10px;
    }
    .main_n_conin5 {
        position: absolute;
        top: 140px;
        right: 10px;
    }
    .main_n_conin_bil {
        bottom: -30px;
        right: auto;
        left: 35%;
    }
    .main_n_conin_li4_a {
        padding-top: 16px!important;
        font-size: 1rem!important;
    }



    .main_n_contact_wrap {
        padding: 0 5px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 900px) {
    .main_footer > div {
        width: 100%;
    }
    .main_footer_logo {
        display: none!important;
    }
    .main_n_conin_input {
        font-size: 1rem;;
    }
    .main_n_conin > li {
        height: 49px!important;
    }
    .main_n_conin_li4_a {
        height: 49px!important;
    }
}

@media screen and (max-width: 800px) {
    .main_n_contact_wrap {
        width: 100%;
        z-index: 9;
    }
    .main_n_content_wrap_mo {
        width: 100%;
    }
    .main_n_conin {
        width: 90%;
    }
    .main_n_conin_li1 {
        width: 30%;
        position: relative;
    }
    .main_n_conin_li2 {
        width: 70%;
    }
    .main_n_conin_li3 {
        width: 38%;
    }
    .main_n_conin_li4 {
        width: 32%;
    }
    .main_n_conin_li1 img {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .main_n_contact_con {
        position: relative;
        /* height: 450px; */
        height: 375px;
    }

    .main_n_conin1 {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .main_n_conin4 {
        position: absolute;
        /* top: 75px; */
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .main_n_conin2 {
        position: absolute;
        /* top: 140px; */
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .main_n_conin3 {
        position: absolute;
        /* top: 210px; */
        top: 174px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .main_n_conin6 {
        position: absolute;
        /* top: 280px; */
        top: 228px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .main_n_conin5 {
        position: absolute;
        /* top: 350px; */
        top: 282px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .main_n_conin_bil {
        bottom: -30px;
        right: auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .main_n_conin_li4_a {
        padding-top: 16px!important;
        font-size: 1rem!important;
    }
    .main_n_conin_bil {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }
    .calForForm, .main_n_juso, .main_n_conin_yoch, .main_n_conin_timesel {
        z-index: 99999;
    }

    .main_n_conin2 {
        z-index: 200;
    }
    .main_n_conin3 {
        z-index: 100;
    }
    .main_n_conin_timesel {
        right: 0px;
    }
    .main_n_juso {
        right: 0;
    }
    .main_n_conin_yoch {
        right: 0;
    }

    .main_n_contact_wrap {
        margin: 10px auto 5px auto;
    }
    

}

@media screen and (max-width: 700px) {
    .main_n_juso {
        width: 100%;
    }
    .jusoschkeyview {
        width: 60%;
    }
    .main_n_juso_desc1 {
        width: 275px;
    }
    .main_n_juso_desc2 {
        width: 280px;
        padding: 30px 0;
    }
    .main_bg {
        height: 300px;
    }
    .main_bg > img {
        width: 900px;
    }

    .main_popup {
        left: 0;
        top: 0;
    }

    .main_mo_info img {
        width: 100%;
    }

    .top_scroll_bt {
        bottom: 7px;
        right: 7px;
    }


    .main_n_contact_tit {
        position: absolute;
        width: 200px;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 99999;
        background-color: white;
        padding: 0 30px;

    }



    .main_mo_info {
        padding: 0 5px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 500px) {
    .main_footer_info {
        text-align: center;
    }
    .main_footer_info a {
        font-size: 0.8rem;
    }
    .main_footer_a_ab {
        position: static;
    }
    .main_footer_a1, .main_footer_a2 {
        letter-spacing: normal;
    }
    .main_n_conin_li1 img {
        width: 90%;
    }
    .main_n_contact_tit img {
        width: 100%;
    }
    .main_n_conin_agree_inputwr7 + label {
        margin-top: 1px;
    }
    .main_n_conin_bil img {
        width: 100px;
    }
    .main_n_agree img {
        width: 250px;
    }
    .main_n_conin_agree_inputwr21 + label {
        margin-top: 4px;
    }
    .contact_submit {
        width: 350px;
    }
    .contact_submit img {
        width: 350px;
    }


    .main_bg {
        height: 250px;
    }
    .main_bg > img {
        width: 750px;
    }
    .main_tit > a {
        font-size: 1.2rem;
    }


    .main_popup {
        width: 100%;
    }
    .popup_img img {
        width: 100%;
    }



    .search {
        width: 100%;
        height: 600px;
    }
    .search_con {
        background-size: 115%!important;
    }
    .sfd_li1 img {
        width: 70px!important;
    }


    .sms_conf {
        width: 100%;
    }
    .con_conf_sms img {
        width: 100%;
    }
    .sms_conf_icon {
        /* display: none; */
        right: 0!important;
    }
    .sms_conf_icon_p_close {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .main_bt_mo > a {
        padding: 0 5px;
    }
    .main_bt_mo > a > img {
        width: 120px;
    }



    .alertpop {
        width: 100%;
    }
    .alertpop img {
        width: 100%;
    }
    .main_footer {
        padding: 30px 0 60px 0;
    }



    .main_alert_pop_close {
        width: 60px;
        bottom: 5px;
    }
    
    
}



@media screen and (max-width: 370px) {
    .search_con {
        background-size: 140%!important;
    }
    .popup_list_rst_bottom_noimg {
        width: 100%!important;
    }
    .popup_list_rst_bottom_li {
        width: 100%!important;
    }
    .calForForm {
        right: -15px;
        left: auto;
        margin-left: 0;
        width: 100%;
    }
    .main_n_juso_desc1 {
        width: 100%;
    }
    .main_n_juso_desc2 {
        width: 100%;
    }
}



@media screen and (max-width: 350px) {
    .contact_submit {
        width: 100%;
    }
    .contact_submit img {
        width: 100%;
    }
}





