/* STYLE.CSS */
@font-face {
  font-family: 'LotteMartDream';
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}


@font-face {
 font-family: 'NanumBarunGothic';
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}




 @font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900!important;
   src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2') format('woff2'),url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff') format('woff'),url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf') format('opentype');
 }


 @font-face {
   font-family: 'BareunDotum';
   font-style: normal;
   font-weight: 300;
   src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro1.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro1.woff') format('woff');
 }


@font-face { font-family: 'IBMPlexSansKR-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

/* font-family: 'IBMPlexSansKR-Regular'; */


@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }

/* font-family: 'Godo', sans-serif; */

/* * {
    font-family: 'Nanum Gothic', sans-serif!important;
} */
/* * {
    font-family: 'LotteMartDream', sans-serif;
} */

/* * {
  font-family: 'NanumBarunGothic', sans-serif;
} */
/* * {
font-family: 'Noto Sans KR', sans-serif;
} */


/* * {
font-family: 'BareunDotum', sans-serif;

} */




/* * {
font-family: 'Noto Sans KR', sans-serif;
} */
* {
  margin: 0;
  padding: 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #000000;
}
li {
  list-style: none;
}
.om_hid {
  display: none;
}




/* MAIN_TOP */
.om_main_top_wrap {
  width: 100%;
}
.om_main_top_img {
  position: relative;
  background-image: url('/img/main_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 796px;
}
.om_main_top_tit {
  text-align: center;
  background-color: #0075a9;
}
.om_main_top_tit a {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  display: inline-block;
  padding: 20px 0;
}
.om_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* .om_logo img {
  width: 700px;
} */
.om_main_form {
  margin-top: 20px;
}
.om_main_form_con {
  width: 1600px;
  margin: 0 auto;
  border: 2px solid #929191;
  border-radius: 20px;
  padding: 1rem 0;
  text-align: center;
}
.om_main_fcd_a1 {
  letter-spacing: 2.3rem;

}
.om_main_form_con_div {
  width: 32%;
  display: inline-block;
  margin: 0.7rem 0;
}
.om_main_form_con_div li {
  display: inline-block;
}
.om_main_fcd_li1 {
  width: 20%;
  text-align: left;
}
.om_main_fcd_li1 a {
  font-size: 1.2rem;
  font-weight: 600;
}
.om_main_fcd_li2 {
  width: 75%;
  position: relative;
}
.om_main_fcd_li2_date {
  font-size: 0;
}
.om_main_fcd_li2_1 {
  width: 50%!important;
  box-sizing: border-box;
  display: inline-block;
}
.om_main_fcd_li2_2 {
  position: relative;
  width: 40%!important;
  padding: 1rem;
  border-radius: 5px;
  border-left: 3px solid white;
  box-sizing: border-box;
  background-color: #929191;
  display: inline-block;
  text-align: left;
}
.om_main_fcd_li2_2 > a {
  color: #cccccc;
}
.om_main_fcd_li2_2 > a > i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 1.5rem;
}
.om_main_fcd_li2_2_option {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
  background-color: white;
  padding: 0 10px;
  width: 100%;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  z-index: 999;
}
.om_main_fcd_li2_2_option > a {
  display: block;
  margin-top: 8px;
}
.om_main_fcd_li2_2 a {
  cursor: pointer;
}
.om_main_fcd_li2 input {
  padding: 1rem;
  border: 0;
  background-color: #929191;
  color: white;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
}
.om_main_fcd_li2 input::placeholder {
  color: #cccccc;
  opacity: 1;
}
.om_main_fcd_li2 input::-ms-input-placeholder {
  color: #cccccc;
}
.om_main_fcd_li2 input:-ms-input-placeholder {
  color: #cccccc;
}

.om_main_bt {
  position: absolute;
  top: 150px;
  right: 20px;
  width: 250px;
}
.om_main_bt > li > img {
  width: 100%;
}
.om_main_bt_li {
  background-repeat: no-repeat;
  width: 100%;

  background-size: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.om_main_bt_li1 {
  background-image: url('/img/i1.png');
  height: 70px;
}
.om_main_bt_li1:hover {
  background-image: url('/img/i1_o.png');
}
.om_main_bt_li2 {
  height: 160px;
  background-image: url('/img/i2.png');
}
.om_main_bt_li2:hover {
  background-image: url('/img/i2_o.png');
}
.om_main_bt_li3 {
  height: 160px;
  background-image: url('/img/i3.png');
}
.om_main_bt_li3:hover {
  background-image: url('/img/i3_o.png');
}
.om_main_bt_li4 {
  height: 70px;
  background-image: url('/img/i4.png');
}
.om_main_bt_li4:hover {
  background-image: url('/img/i4_o.png');
}
.om_main_bt_li5 {
  height: 70px;
  background-image: url('/img/i5.png');
}
.om_main_bt_li5:hover {
  background-image: url('/img/i5_o.png');
}
/* .om_main_bt_b {

}
.om_main_bt_o {
  display: none;
} */
.om_auth {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.om_auth > li {
  display: inline-block;
  padding: 0 5px;
}
.om_auth > li > a {
  color: black;
}
.calWrapForForm {
  position: relative;
}
.calForForm {
  position: absolute;
  bottom: 55px;
  left: 50%;
  margin-left: -100px;
  display: none;
  width: 300px;
  background-color: white;
  padding: 10px;
  border: 1px solid #cccccc;
}
.calBottom {
  position: relative;
  margin-top: 7px;
  height: 30px;
}
.calBottom > li {
  position: absolute;
  top: 0;
  right: 5px;
}
.calBottom > li > a {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 10px;
  background-color: #dadada;
  cursor: pointer;
}

.om_juso {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 330px;
  border: 1px solid #eaeaea;
  background-color: white;
  padding: 10px;
  z-index: 999;
}
.om_juso_input {
  width: 200px;
}
.wrap_div {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: none;
  z-index: 99;
}
.blackbg {
  background-color: #000;
  opacity: 0;
  display: inline-block!important;
}
.juso_tit_text {
  margin: 5px;
}
#list {
  border-top: 1px solid #eaeaea;
}
.juso_tit_text > a {
  font-size: 0.9rem;
}
.juso_close {
  margin-top: 10px;
  text-align: right;
}
.juso_close > a {
  display: inline-block;
  font-size: 0.9rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.jusoInLi {
  margin: 3px;
}
.jusoInLi > input {
  padding: 5px;
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}
.jusoInLiBt {
  text-align: center;
  margin-top: 10px;
}
.jusoinbt {
  padding: 8px 20px;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}
.contact_else_option {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 90%;
  text-align: left;
  padding: 0 10px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  transform: translateX(-50%);
  display: none;
  background-color: white;
}
.contact_else_option > a {
  display: block;
  margin-top: 8px;
  cursor: pointer;
}
.om_main_fcd_li1_li_last {
  text-align: right;
}
.om_main_fcd_li1_a_last {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 2rem!important;
  color: #0075a9;
  cursor: pointer;
}

.om_main_fcd_li1_a2_last a {
  display: inline-block;
  box-sizing: border-box;
  width: 90%;
  background-color: #929191;
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
  color: #cccccc;
}
.search {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 500px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 999;
  display: none;
}
.search_basic {
  background-image: url('/img/search_bg.png');
}
.search_rst {
  background-image: url('/img/search_rst_bg.png');
}
.search_conf {
  background-image: url('/img/search_conf_bg.png');
}
.search_con {
  position: relative;
  width: 100%;
  height: 100%;
}
.search_logo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
}
.search_from {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.search_logo img {
  width: 50%;
}
.search_from_div {
  text-align: center;
  margin-top: 10px;
}
.search_from_div_li {
  display: inline-block;
}
.sfd_li1 {
  width: 90px;
}
.sfd_li2 {
  width: 40%;
}
.sfd_li2_in {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}
.sf_a_num {
  letter-spacing: 0.15rem;
}
.sfd_li_a1 {
  color: white;
}
.search_bt {
  text-align: center;
}
.search_bt a {
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 1.3rem;
  cursor: pointer;
}
.search_bt {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;
}
.search_close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.search_close i {
  color: white;
  font-size: 1.7rem;
}
.search_icon {
  position: absolute;
  text-align: center;
  top: 65%;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.search_icon img {
  width: 40px;
}
.search_rst_bt {
  top: auto!important;
  bottom: 10%!important;
}
.search_rst_content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 65%;
}
.search_rst_content2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 70%;
}
.search_rst_content2 li {
  padding: 5px 0;
}
.search_confrst_bot_text {
  position: absolute;
  text-align: center;
  bottom:5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main_rst_con_text_blue {
  color: #0075a9;
}
.main_rst_con_text_black {
  color: black;
}
.main_rst_conf_text {
  font-size: 2rem;
  font-weight: bold;
}
.main_rst_juso_tit {
  vertical-align: top;
}
.sms_conf {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 9999;
}
.adm_conlist_date_tit {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
  margin: 30px 0 25px 0;
}











/* ADM */
.om_adm_header {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  background-color: #eaeaea;
}
.om_adm_header > a {
  font-size: 2rem;
}
.om_adm_menu {
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.om_adm_menu > a {
  display: inline-block;
  padding: 20px;
}
.om_adm_content {
  width: 1000px;
  margin: 30px auto;
}
.create_member_table {
  padding: 5px;
}
.om_adm_con_wrap {
  width: 800px;
  margin: 50px auto;
}
.board_list {
  margin-bottom: 50px;
}
/* ADM */








@media screen and (max-width: 1500px) {
  .om_main_top_img {
    height: 500px;
  }
}
/* MAIN_TOP */















/* Calendar.ejs */
.om_calendar_table {
  width: 100%;
}
.om_calendar_table table {
  width: 100%;
}
.om_calendar_table > table td {
  width: 14%;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 0;
  border-radius: 5px;
}
.om_cal_year {
  position: relative;
  margin-bottom: 15px;
}
.om_cal_prev {
  position: absolute;
  left: 10px;
  top: -19px;
}
.om_cal_next {
  position: absolute;
  right: 10px;
  top: -19px;
}
.om_cal_year > a {
  cursor: pointer;
}
/* Calendar.ejs */



/* SLIDE */
.om_slide_wrap {
  width: 100%;
  position: relative;
}
.om_slide_content {
  width: 100%;
  position: relative;
}
.om_slide {
  width: 100%;
  height: 300px;
  position: absolute;
}
.om_slide1 {
  background-color: black;
}
.om_slide2 {
  background-color: blue;
}
.om_slide3 {
  background-color: red;
}
/* SLIDE */



/* Juso */
.jusotable td {
  border:1px solid #cccccc;
}
.juso_list_td {
  cursor: pointer;
  padding: 5px;
}
.juso_list_li1 {
  font-size: 0.8rem;
}
.juso_list_li2 {
  font-size: 0.6rem;
}
.paginate {
  text-align: center;
}
.paginate > a {
  font-size: 0.8rem;
  color: gray;
}

/* Juso */





/* schedule.ejs */

.om_cal_td {
  cursor: pointer;
}
.sche_in {
  background-color: #0088ff!important;
}
/* schedule.ejs */



/* adm_Contact_list */

.admconlist_wrap {
  width: 100%;
  margin-top: 30px;
}
.admconlist_wrap table {
  width: 100%;
  border-collapse: collapse;
}
.admconlist_wrap table td {
  border: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
}
.admconlist_wrap table td input {
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
}
.admconlist_input1 {
  width: 100px;
}
.admconlist_input2 {
  width: 180px;
}
.admconlist_input3 {
  width: 80px;
}
.admconlist_input4 {
  width: 20px;
}
.admcon_bt a {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  padding: 5px;
  font-size: 0.8rem;
}
.contactlist_select {
  text-align: center;
  margin-bottom: 20px;
}

/* adm_Contact_list */




/* adm_popup */
.om_adm_popup {
  text-align: left;
}
.om_adm_popup form li {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

/* adm_popup */

/* main_popup */
.main_popup {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  /* transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%); */
  z-index: 99999;
  font-size: 0;
}
.popup_img {
  font-size: 0;
}
.popup_img img {
  width: 400px;
}
.popup_close {
  width: 100%;
  padding: 5px;
  text-align: right;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
}
.popup_close a {
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}
/* main_popup */
