<!-- Admin_Header -->
<div class="om_adm_header">
  <a href="/adm">복사골환경(주)</a>
</div>
<div class="om_adm_menu">
  <%#
  <a href="/adm/member">회원관리</a>
  %>
  <a href="/adm/popup">팝업관리</a>
  <a href="/adm/schedule">일정관리</a>
  <a href="/adm/contact">고객관리</a>
</div>
