<!-- Admin_Header -->
<div class="om_adm_header">
  <a href="/adm">OMNIUS</a>
</div>
<div class="om_adm_menu">
  <%#
  <a href="/adm/member">회원관리</a>
  <a href="/adm/board">게시판관리</a>
  %>
  <a href="/adm/schedule">일정관리</a>
</div>
