<!-- Admin_JOIN EJS -->
<%- include ("../header") %>
<div class="om_adm_join_wrap">
  <form class="" action="/adm/join_prc" method="post">
    <li>
      <input type="text" name="id" value="" placeholder="ID">
    </li>
    <li>
      <input type="password" name="pw" value="" placeholder="PASSWORD">
    </li>
    <li>
      <input type="text" name="name" value="" placeholder="Name">
    </li>
    <li>
      <input type="text" name="age" value="" placeholder="Age">
    </li>
    <li>
      <input type="submit" value="Join">
    </li>
  </form>
</div>
<%- include ("../footer") %>
