<!-- Adm Contact List EJS -->

<%- include ("../header") %>
<%- include ("./adm_header") %>



<script type="text/javascript">
    $(function() {
        $("#imgInp").on('change', function(){
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>


<div class="om_adm_con_wrap om_adm_popup">

    <form id="form1" action="/adm/popup" method="post" enctype="multipart/form-data">
        <li> 팝업이미지 교체 : <input type='file' id="imgInp" name="wr1"></li>
        <li><input type="radio" name="wr2" value="0" <% if(popdata[0].wr2 == '0') { %>checked="checked"<% } %> >팝업사용하지 않음
        <input type="radio" name="wr2" value="1" <% if(popdata[0].wr2 == '1') { %>checked="checked"<% } %> >팝업사용</li>
        <li><input type="submit" value="팝업올리기"></li>
        <img id="blah" src="/upload/<%= popdata[0].wr1%>" alt="" />
    </form>

</div>



<%- include ("../footer") %>