<!-- admin_schedule_HTML -->
<%- include ("../header") %>
<%- include ("./adm_header") %>

<div class="om_adm_schedule_wrap">
  <div class="om_calendar_input">
  </div>
</div>

<%- include ("../footer") %>
